extends layout 
block content 
    h2 Guest Detail
    p #{guest.name}
    
    h3 Booking History 
    if guest.bookings.length 
      ol 
        each booking in guest.bookings 
          li From #{booking.number}

    else 
      p No bookings 